<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📘 | Login</title>
</head>

<body>
    <h1>Página de Login</h1>
    <form method="post">
        {% csrf_token %}

        <label for="email_address">Username: </label>
        <input type="text" id="email_address" name="username" required>

        <br>
        <br>

        <label for="password">Senha: </label>
        <input type="password" id="password" name="password" required>

        <br>
        <br>

        <input type="submit" value="Login" class="btn btn-primary">

        {% for k, v in form.errors.items %}
        {{ v }}
        {% endfor %}
</body>

</html>