<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📘 | Deletar Contato</title>
</head>

<body>
    <h1>Deletar Contato</h1>
    <p>Tem certeza que deseja deletar o contato "{{ object.nome }}"?</p>
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Sim">
        <input type="reset" onclick="location.href = '{% url 'phonebook:list' %}'" value="Não">
    </form>
</body>

</html>