<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📘 | Lista de Contatos</title>
</head>

<body>
    <h1>Lista de Contatos</h1>
    <p>Olá, {{ request.user.username }}! Seja bem vindo!</p>
    <a href="{% url 'phonebook:create' %}">Criar Contato</a>
    <br>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Sair</a>
    {% endif %}
    <ul>
        {% for contato in object_list %}
        <a href="{% url 'phonebook:detail' pk=contato.id %}">
            <li><span>{{ contato.nome }}</span> | <span>{{ contato.telefone }}</span></li>
        </a>
        {% endfor %}
    </ul>
</body>

</html>